/* 
|===========================================|
|   * Created by: Adarsh Thapa              |
|   * Project alias: StackComplexity        |
|   * Date Created: 21/08/2019              |
|   * Coded on: Ubuntu Linux                |
|   * Web: https://www.adarshthapa.com/     |
|===========================================|
*/

:root {
    --primary-color: rgb(27, 116, 232);
    --secondary-color: rgb(33, 145, 68);
    --light-color: #f3f3f3;
    --dark-color: linear-gradient(#525252, #3d72b4);
    --max-width: 1100px;
}

.category {
    --computer-science-color: linear-gradient(#373B44, #4286f4);
    --startup-color: linear-gradient(#aa4b6b, #3b8d99);
    --technology-stack-color: linear-gradient(#108dc7, #ef8e38);
    --entrepreneurship-color: linear-gradient(#ffd89b, #19547b);
    --programming-color: linear-gradient(#1c92d2, #f2fcfe);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    line-height: 1.5;
    background: var(--light-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 0.6rem;
    line-height: 1.5;
}

/* Utility */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden; 
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.category-computer-science { background: var(--computer-science-color) }
.category-startup { background: var(--startup-color) }
.category-technology-stack { background: var(--technology-stack-color) }
.category-entrepreneurship { background: var(--entrepreneurship-color) }
.category-programming { background: var(--programming-color) }

.btn {
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #fff;
    padding: 0.5rem 1.5rem;
}

.btn-light { background: var(--light-color) }
.btn-primary { background: var(--primary-color) }
.btn-secondary { background: var(--secondary-color) }

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.card {
    background: #fff;
    padding: 1rem;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.bg-dark h1,
.bg-dark h2, 
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2, 
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2, 
.bg-secondary h3,
.bg-secondary a {
    color: #fff;
}

.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }

.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }

.l-heading {
    font-size: 3rem;
}

.list li {
    padding: 0.5rem;
    border-bottom: rgb(134, 126, 126) dotted 1px;
    width: 90%;
}

.list li a:hover {
    color: var(--secondary-color) !important;
}
/* Inner page container */
.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

.page-container > *:first-child {
    grid-row: 1 / span 4;
}

/* Navigation */
#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo {
    width: 64px;
    height: 64px;
}

#main-nav ul {
    justify-self: end;
    display: flex;
}

#main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.current {
    background: var(--primary-color);
    color: #fff;
} 

#main-nav ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color: gray;
    margin-right: 0.5rem;
}

/* Showcase */
#showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;
}

#showcase::before {
    content: '';
    background: url('../img/google-deepmind.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
} 

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-content p {
    margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
}

#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dde0e2;
    padding: 0.5rem;
}

#article .meta .category {
    margin-top: 0.4rem;
}

/* Footer */
#main-footer {
    background: var(--dark-color);
    color: #fff;
}

#main-footer img {
    width: 64px;
    height: 64px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container  > *:last-child {
    background: rgba(26, 39, 56, 1);
    grid-column: 1 / span 4;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}