/* 
|===========================================|
|   * Created by: Adarsh Thapa              |
|   * Project alias: StackComplexity        |
|   * Date Created: 21/08/2019              |
|   * Coded on: Ubuntu Linux                |
|   * Web: https://www.adarshthapa.com/     |
|===========================================|
*/

:root {
    --primary-color: rgb(27, 116, 232);
    --secondary-color: rgb(33, 145, 68);
    --light-color: #f3f3f3;
    --dark-color: #333333;
    --max-width: 1100px;
}

.category {
    --computer-science-color: linear-gradient(#373B44, #4286f4);
    --startup-color: linear-gradient(#aa4b6b, #3b8d99);
    --technology-stack-color: linear-gradient(#108dc7, #ef8e38);
    --programming-color: linear-gradient(#1c92d2, #f2fcfe);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    line-height: 1.5;
    background: var(--light-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 0.55rem;
    line-height: 1.4;
}

/* Utility */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden; 
}

/* Navigation */
#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo {
    width: 64px;
    height: 64px;
}

#main-nav ul {
    justify-self: end;
    display: flex;
}

#main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.current {
    background: var(--primary-color);
    color: #fff;
} 

#main-nav ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color: gray;
    margin-right: 0.5rem;
}